.blog {
  @extend section;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;

  @media all and (max-width: 980px) {
    grid-template-columns: 1fr 1fr;
  }

  @media all and (max-width: 736px) {
    grid-template-columns: 1fr;
  }
}