.contacts {
  text-align: center;

  &__description {
    max-width: 50%;
    margin: 20px auto 0;
    line-height: 1.5;
  }

  &__form {
    margin-top: 20px;
  }
}

@media all and (max-width: 980px) {
  .contacts__description {
    max-width: 65%;
  }
}
@media all and (max-width: 736px) {
  .contacts__description {
    max-width: 65%;
  }
}
