.navbar {
  padding: 0 12px;

  &__container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 30px 0 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-size: 32px;
    font-weight: 800;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

  li {
    margin-right: 30px;
  }

  li:last-child {
    margin-right: 0;
  }

  a {
    text-decoration: none;
    color: rgb(41, 120, 181);
    font-weight: 600;
    text-transform: uppercase;
  }
}
